/*COME BACK TO: h1, gets wonky when screen shrinks*/

/*links google fonts*/
@import url('https://fonts.googleapis.com/css?family=Dosis|Fugaz+One');

/* width applies to border + padding + content, not just content */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*borders for layout debugging*/
* {
  border-style: solid;
  border-width: thin;
  border-color: hotpink;
}

/*sets all primary font, centers all content in body*/
body {
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  padding: 0 10%;
}

/*sets heading font, some padding*/
h1, h2, h3, h4 {
  font-family: 'Fugaz One', cursive;
  padding: 0 5%;
}

/*shrinks height of images*/
img {
  height: 20%;
  width: 100%;
}

/*header, footer bg*/
header, footer {
  background-color: #E0D9FF;
}

/*positions header on first image*/
h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 15%;
  right: 15%;
  bottom: 10%;
}

section:first-of-type {
  position: relative;
}


/* use these at least once:
Inline Block display
Floats
Fixed Positioning (With the top header)

Add custom styling:
At least one google font
At least one pseudo selector (like hover)
Background color on one section
Identify repeated styles and use CSS selectors and class/id names to organize and DRY your code.

/* try parallax banner!
try animating h1 elements to fade in on page load
create a new page for one of the articles (create wireframe, content/structure with HTML, style with CSS to match wireframe) */
